body {
    margin: 0;
    padding: 0;
    font-family: "gleegoo";
    color: white!important;
    background-color: #0e0e0e!important;
}

nav{
    border-bottom: 2px solid #7952B3;
}

.navbar-brand{
    color: white;
    text-decoration: none;
    display: flex;

    .display_pic{
        border: 2px solid white;
    }
}

nav.navbar {
    z-index: 1;

    ul.navbar-right {
        li {
            a{
                color: white;
            }
            a::before {
                display: none;
            }
        }
    }
}

.content-main{

}

.display_pic{
    border-radius: 50%;
}