body {
    margin: 0;
    padding: 0;
    font-family: "gleegoo";
    background-color: #262626;
    color: white;
}

.navbar-header{
    background-color: #262626;
    border-bottom: 2px solid #7952B3;
}

.navbar-brand{
    color: white;
    text-decoration: none;
    display: flex;

    .display_pic{
        border: 2px solid white;
    }
}

nav.navbar {
    z-index: 1;

    ul.navbar-right {
        li {
            a::before {
                display: none;
            }
        }
    }
}

.display_pic{
    border-radius: 50%;
}